body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 40rem; */
}

.container {
    text-align: center;
    background-color: rgb(239, 188, 130);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    color: #333;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #ff7b00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.meal-container {
    margin-top: 20px;
}

.mealStyle {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;

}

.mealStyle img {
    max-width: 100%;
    height: auto;
}
